extends ./base

block content
  div.pure-g
    h1.spacing.animated.fadeIn.pure-u-1=title
    div.pure-u-7-24.center
      table.pure-table.pure-table-bordered
        each detail in details
          tr
            td #{detail.INSTNM}
