extends ./base

block content
  div.wrap
   h1.spacing.animated.fadeIn=title

   form.pure-form.pure-form-aligned
      fieldset
       div.pure-control-group
          label Upload CSV
          input(type='file', name='csvFile', id='csvFile')
       div.pure-controls
          button.pure-button.pure-button-primary(type='submit') Submit
